$brand-color: #FFFFFF;
$brand-color-2: #FFFFFF;
$default-hero-image: "/images/siteiconjpg";

// Breakpoints
$tablet: "(min-width: 450px)";
$above-tablet: "(min-width: 550px)";
$mid-point: "(min-width: 850px)";
$below-mid-point: "(max-width: 849px)";
$desktop: "(min-width: 768px)";
