---
title: Envio / Mensajeria
hero: Delivery Details
---

<div class="editable">

	<p>Por favor lee sobre los servicios de mensajeria.</p>

	<h3>Mensajeria </h3>
	<p>Diferentes formas de envio</p>

	<p>Envio gratuito en Torreón Coahuila.</p>

		<h3>Entrega de 3 a 10 dias habiles</h3>
		<ul>
			<li>Opcipion de entrega gratuita en Torreón, envía en un mensaje la ubicación de tu domicilio.</li>
			<li>Envia tu domicilio para entrga por DHL.</li>
			<li>Selecciona envio estandar por correo federal.</li>
		</ul>

		<h3>Entrga inmediata 2 días habiles</h3>
		<ul>
			<li>Se entrga a domicilio si estás en Torreón.</li>
			<li>Utiliza rapid</li>
		</ul>

		
</div>